<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>个人主页</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://127.0.0.1:8000/static/css/style.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<style type="text/css">
        .div_left { width: 28%; height: 100%; float:left; position: relative; }
        .div_right { width: 72%; height: 100%; float:right; position: relative; }
    </style>

</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="http://127.0.0.1:8000/ticket/home/">二手票务交易网</a>
		</div>
		<div>
			<ul class="nav navbar-nav pull-right">
				<li class="active"><a href="http://127.0.0.1:8000/ticket/personpage/">个人主页</a></li>
				<li class="active"><a href="http://127.0.0.1:8000/ticket/release/">我发布的</a></li>
				<li class="active"><a href="http://127.0.0.1:8000/ticket/purchase/">我购买的</a></li>
				<button id="log_out" class="btn btn-primary" style="margin-top:8px">退出登录</button>
			</ul>
		</div>
		</div>
	</nav>
	
	<div>

	<div class="div_left">

		<div class="box">
            <ul>
                <li>
					<img id="userpic" src="http://127.0.0.1:8000/static/images/userImages/0.jpg" width="190" height="190" alt="">
                    <div class="cover">
                        <h4 id="username"></h4>
                        <h4 id="usersex"></h4>
						<h4 id="useraddr"></h4>
						<h4 id="usertele"></h4>
                    </div>
                </li>
            </ul>
        </div>
	</div>
	
	<div class="div_right">
		<div id="modi_info" style="width: 300px;height: 200px">
			<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#info_Modal">
				修改资料
			</button>
		</div>
		
		<div id="modi_passwd" style="width: 300px;height: 200px">
			<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#passwd_Modal">
				修改密码
			</button>
		</div>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="info_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">
							修改资料
						</h4>
					</div>
					<div class="modal-body">
						<div class="input-group">
							<span class="input-group-addon">新名称</span>
							<input type="text" id="new_name" class="form-control" placeholder="请输入新的名称">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">新性别</span>
							<input type="text" id="new_gender" class="form-control" placeholder="请输入新的性别">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">新地址</span>
							<input type="text" id="new_addr" class="form-control" placeholder="请输入新的地址">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">新联系方式</span>
							<input type="text" id="new_tele" class="form-control" placeholder="请输入新的联系方式">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">上传图片</span>
							<input type="file" id="good_img" class="form-control" placeholder="请上传图片">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<button type="button" id="modi_info_sure" class="btn btn-primary">
							确认修改
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>

		<div class="modal fade" id="passwd_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">
							修改密码
						</h4>
					</div>
					<div class="modal-body">
						<div class="input-group">
							<span class="input-group-addon">原密码</span>
							<input type="password" id="old_passwd" class="form-control" placeholder="请输入原密码">
						</div>	
						<br>
						<div class="input-group">
							<span class="input-group-addon">新密码</span>
							<input type="password" id="new_passwd" class="form-control" placeholder="请输入新密码">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">确认新密码</span>
							<input type="password" id="new_passwd_s" class="form-control" placeholder="请再次输入新密码">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<button type="button" id="passwd_sure" class="btn btn-primary">
							确认修改
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
	</div>

	</div>

	

	<script>
		var id;
		$(function(){
			$.ajax({
				type: "GET",
				url:"http://127.0.0.1:8000/ticket/ajax_showinfo/",
				success: function(result){
					//TODO:头像
					console.log(result);
					id = result['userid'];
					$('#username').append(result['username']);
					$('#usersex').append(result['sex']);
					$('#useraddr').append(result['addr']);
					$('#usertele').append(result['tele']);
					$('#userpic').attr('src', 'http://127.0.0.1:8000/static/images/userImages/'+result['userimg']);
				}
			});
		});

		$("#modi_info_sure").click(function(){
			var form_data = new FormData();
			var file_info = $('#good_img')[0].files[0];
			var sex = $('#new_gender').val();
			var name = $('#new_name').val();
			var addr = $('#new_addr').val();
			var tele = $('#new_tele').val();
			form_data.append('file',file_info);
			form_data.append('sex',sex);
			form_data.append('name',name);
			form_data.append('addr',addr);
			form_data.append('tele',tele);
			if(sex.length == 0 || name.length == 0 || addr.length == 0 || tele.length == 0){
				alert("未完整填写信息");
			}
			else{
				data = {"sex":sex, "name":name, "addr":addr, "tele":tele};
				$.ajax({
					type:"POST",
					url:"http://127.0.0.1:8000/ticket/ajax_modi_info/",
					data: form_data,
                	processData: false,  // tell jquery not to process the data
                	contentType: false, // tell jquery not to set contentType
					success:function(result){
						if(result == 1){
							alert("修改成功");
							window.location.href = "http://127.0.0.1:8000/ticket/personpage/";//刷新
						}
						else {
							if(result == 0){
								alert("用户名已存在，修改失败");
							}
							else{
								console.log(result)
								alert("新用户名不能和当前用户名相同");
							}
						}
					}
				});
			}
		});

		//修改密码
		$("#passwd_sure").click(function(){
			var old_passwd = $('#old_passwd').val();
			var new_passwd = $('#new_passwd').val();
			var new_passwd_s = $('#new_passwd_s').val();
			if(old_passwd.length == 0 || new_passwd.length == 0 || new_passwd_s.length == 0){
				alert("未完整填写！");
			}
			else{
				if(new_passwd != new_passwd_s){
					alert("两次密码输入不一致！");
				}
				else{
					if(old_passwd == new_passwd){
						alert("新旧密码完全一样，还不如不改！");
					}
					else{
						data = {"old_passwd":old_passwd, "new_passwd":new_passwd};
						$.ajax({
							type:"POST",
							url:"http://127.0.0.1:8000/ticket/ajax_modi_passwd/",
							dataType:"json",
							data:JSON.stringify(data),
							success:function(result){
								if(result == 0){
									alert("原密码错误");
								}
								else{
									alert("修改密码成功");
									window.location.href = "http://127.0.0.1:8000/ticket/personpage/";//刷新
								}
							}
						});
					}
				}
			}
		});
		
		//退出登录的click函数
		$("#log_out").click(function(){
			$.ajax({
				type: "POST",
				url:"http://127.0.0.1:8000/ticket/ajax_log_out/",
				dataType: "json",
				data:JSON.stringify({}),
				success: function(result){
					alert("你已退出登陆！");
					window.location.href = "http://127.0.0.1:8000/ticket/sign/";
				}  
			});
		});
	</script>
</body>
</html>