<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>PERSONPAGE</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<style type="text/css">
        .div_left { width: 28%; height: 100%; float:left; position: relative; }
        .div_right { width: 72%; height: 100%; float:right; position: relative; }
    </style>
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="http://127.0.0.1:8000/ticket/home/">二手购票</a>
		</div>
		<div>
			<ul class="nav navbar-nav pull-right">
				<li class="active"><a href="http://127.0.0.1:8000/ticket/personpage/">个人主页</a></li>
				<li class="active"><a href="http://127.0.0.1:8000/ticket/release/">我发布的</a></li>
				<li class="active"><a href="http://127.0.0.1:8000/ticket/purchase/">我购买的</a></li>
				<button id="log_out" class="btn btn-primary" style="margin-top:8px">退出登录</button>
			</ul>
		</div>
		</div>
	</nav>
	
	<div>

	<div class="div_left">
		<h1>用户信息栏</h1>
		<img id="user_pic" src="http://127.0.0.1:8000/static/images/1.jpg" style="width:200px; height:100px" alt="头像">
		<h2 id="user_id">用户id:</h2>
		<h2 id="user_name">用户名称:</h2>
		<h2 id="user_sex">用户性别:</h2>
	</div>
	
	<div class="div_right">
		<div id="modi_info" style="width: 300px;height: 200px">
			<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#info_Modal">
				修改资料
			</button>
		</div>
		
		<div id="modi_passwd" style="width: 300px;height: 200px">
			<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#passwd_Modal">
				修改密码
			</button>
		</div>

		<!-- 模态框（Modal） -->
		<div class="modal fade" id="info_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">
							修改资料
						</h4>
					</div>
					<div class="modal-body">
						<div class="input-group">
							<span class="input-group-addon">新性别</span>
							<input type="text" id="new_gender" class="form-control" placeholder="请输入新的性别">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">新名称</span>
							<input type="text" id="new_name" class="form-control" placeholder="请输入新的名称">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<button type="button" id="modi_info_sure" class="btn btn-primary">
							确认修改
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>

		<div class="modal fade" id="passwd_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">
							修改密码
						</h4>
					</div>
					<div class="modal-body">
						<div class="input-group">
							<span class="input-group-addon">原密码</span>
							<input type="password" id="old_passwd" class="form-control" placeholder="请输入原密码">
						</div>	
						<br>
						<div class="input-group">
							<span class="input-group-addon">新密码</span>
							<input type="password" id="new_passwd" class="form-control" placeholder="请输入新密码">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<button type="button" id="passwd_sure" class="btn btn-primary">
							确认修改
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
	</div>

	</div>

	

	<script>
		var id;
		$(function(){
			$.ajax({
				type: "GET",
				url:"http://127.0.0.1:8000/ticket/ajax_showinfo/",
				success: function(result){
					//TODO:头像
					console.log(result);
					id = result['userid'];
					$('#user_id').append(result['userid']);
					$('#user_name').append(result['username']);
					$('#user_sex').append(result['sex']);
				}
			});
		});
		//TODO:获取用户id

		$("#modi_info_sure").click(function(){
			var sex = $('#new_gender').val();
			var name = $('#new_name').val();
			if(sex.length === 0 || name.length === 0){
				alert("未完整填写信息");
			}
			else{
				data = {"userid":id, "sex":sex, "name":name};
				$.ajax({
					type:"POST",
					url:"http://127.0.0.1:8000/ticket/ajax_modi_info/",
					dataType:"json",
					data:JSON.stringify(data), 
					success:function(result){
						if(result === 1){
							alert("修改成功");
						}
						window.location.href = "http://127.0.0.1:8000/ticket/personpage/";//刷新
					}
				});
			}
		});

		//修改密码
		$("#passwd_sure").click(function(){
			var old_passwd = $('#old_passwd').val();
			var new_passwd = $('#new_passwd').val();
			if(old_passwd.length === 0 || new_passwd.length === 0){
				alert("未完整填写！");
			}
			else{
				if(old_passwd === new_passwd){
					alert("新旧密码完全一样，还不如不改！");
				}
				else{
					data = {"userid":id, "old_passwd":old_passwd, "new_passwd":new_passwd};
					$.ajax({
						type:"POST",
						url:"http://127.0.0.1:8000/ticket/ajax_modi_passwd/",
						dataType:"json",
						data:JSON.stringify(data), 
						success:function(result){
							if(result == 0){
								alert("密码错误");
							}
							else{
								alert("修改密码成功");
							}
							window.location.href = "http://127.0.0.1:8000/ticket/personpage/";//刷新
						}
					});
				}

			}
		});
		
		//退出登录的click函数
		$("#log_out").click(function(){
			$.ajax({
				type: "POST",
				url:"http://127.0.0.1:8000/ticket/ajax_log_out/",
				dataType: "json",
				data:JSON.stringify({}),
				success: function(result){
					alert("你已退出登陆！");
					window.location.href = "http://127.0.0.1:8000/ticket/sign/";
				}  
			});
		});
	</script>
</body>
</html>