<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link REL="SHORTCUT ICON" HREF="http://127.0.0.1:8000/static/images/favicon.ico"/>
	<title>我发布的</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://127.0.0.1:8000/static/css/style.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<style type="text/css">
        .div_left { width: 28%; height: 100%; float:left; position: relative; }
        .div_right { width: 72%; height: 100%; float:right; position: relative; }
    </style>
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="http://127.0.0.1:8000/ticket/home/">二手票务交易网</a>
		</div>
		<div>
			<ul class="nav navbar-nav pull-right">
				<li class="active"><a href="http://127.0.0.1:8000/ticket/personpage/">个人主页</a></li>
				<li class="active"><a href="http://127.0.0.1:8000/ticket/release/">我发布的</a></li>
				<li class="active"><a href="http://127.0.0.1:8000/ticket/purchase/">我购买的</a></li>
				<button id="log_out" class="btn btn-primary" style="margin-top:8px">退出登录</button>
			</ul>
		</div>
		</div>
	</nav>
	
	<div>

	<div class="div_left">
		<div class="box">
            <ul>
                <li>
					<img id="userpic" src="http://127.0.0.1:8000/static/images/userImages/0.jpg" width="190" height="190" alt="">
                    <div class="cover">
                        <h4 id="username"></h4>
                        <h4 id="usersex"></h4>
						<h4 id="useraddr"></h4>
						<h4 id="usertele"></h4>
                    </div>
                </li>
            </ul>
        </div>
	</div>
	
	<div class="div_right">
		<div style="width:100%;height:100px;">
				<div id="release" style="position:relative; left:600px; width: 100px;height: 50px">
						<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#release_Modal">
							发布新商品
						</button>
					</div>
					<!-- 模态框（Modal） -->
					<div class="modal fade" id="release_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										&times;
									</button>
									<h4 class="modal-title" id="register_Label">
										发布新商品
									</h4>
								</div>
								<div class="modal-body">
									<div class="input-group">
										<span class="input-group-addon">名称</span>
										<input type="text" id="good_name" class="form-control" placeholder="请输入商品名称">
									</div>	
									<br>
									<div class="input-group">
										<span class="input-group-addon">时间</span>
										<input type="text" id="good_date" class="form-control" placeholder="请输入时间">
									</div>
									<br>
									<div class="input-group">
										<span class="input-group-addon">地点</span>
										<input type="text" id="good_addr" class="form-control" placeholder="请输入地点">
									</div>
									<br>
									<div class="input-group">
										<span class="input-group-addon">价格</span>
										<input type="text" id="good_price" class="form-control" placeholder="请输入价格">
									</div>
									<br>
									<div class="input-group">
										<span class="input-group-addon">详细描述</span>
										<input type="text" id="good_dec" class="form-control" placeholder="请输入详细描述">
									</div>
									<br>
									<div class="input-group">
										<span class="input-group-addon">上传图片</span>
										<input type="file" id="good_img" class="form-control" placeholder="请上传图片">
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭
									</button>
									<button type="button" id="release_sure" class="btn btn-primary">
										发布
									</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal -->
					</div>
		</div>

		<div class="fluid" id="data">
			<div class="col-xs-12 well">
				<caption>搜索结果</caption>
				<table id = "result_table" class="table table-bordered">
					<thead id="thead">
						<th>名称</th>
						<th>时间</th>
						<th>地点</th>
						<th>价格</th>
						<th>详情</th>
					</thead>
					
				</table>
			</div>
		</div>
	</div>

	</div>

	

	<script>
		var id;
		$(function(){
			$.ajax({
				type: "GET",
				url:"http://127.0.0.1:8000/ticket/ajax_showinfo/",
				success: function(result){
					//TODO:头像
					console.log(result);
					id = result['userid'];
					$('#username').append(result['username']);
					$('#usersex').append(result['sex']);
					$('#useraddr').append(result['addr']);
					$('#usertele').append(result['tele']);
					$('#userpic').attr('src', 'http://127.0.0.1:8000/static/images/userImages/'+result['userimg']+'?'+Math.random());
				}
			});
		});
		
		$(function(){
			$.ajax({
				type: "POST",
				url:"http://127.0.0.1:8000/ticket/ajax_query_release/",
				dataType: "json",
				data:JSON.stringify({"userid":id}),
				success: function(result){
					result_table = document.getElementById('result_table');
					for(let i=0;i<result['info'].length;i++){
						var child = document.createElement('tbody');
						var th1 = document.createElement('th');
						var th2 = document.createElement('th');
						var th3 = document.createElement('th');
						var th4 = document.createElement('th');
						var th5 = document.createElement('th');
						var indexinfo = document.createElement('a');
						indexinfo.innerHTML = "详情";
						indexinfo.setAttribute("href", "http://127.0.0.1:8000/ticket/index/id="+
							result['info'][i]['id'] + "/");
						th1.innerHTML = result['info'][i]['name'];
						th2.innerHTML = result['info'][i]['time'];
						th3.innerHTML = result['info'][i]['address'];
						th4.innerHTML = result['info'][i]['money'];
						th5.appendChild(indexinfo);
						child.appendChild(th1);
						child.appendChild(th2);
						child.appendChild(th3);
						child.appendChild(th4);
						child.appendChild(th5);
						result_table.appendChild(child);
					}
				}  
			});
		});


		$('#release_sure').click(function(){
			var form_data = new FormData();

			var name = $('#good_name').val();
			var date = $('#good_date').val();
			var addr = $('#good_addr').val();
			var price = $('#good_price').val();
			var dec = $('#good_dec').val();
			var file_info = $('#good_img')[0].files[0];
			form_data.append('file',file_info);
			form_data.append('name',name);
			form_data.append('date',date);
			form_data.append('addr',addr);
			form_data.append('price',price);
			form_data.append('dec',dec);
			if(name.length == 0 || date.length == 0 || addr.length == 0 || price.length == 0 || dec.length == 0){
				alert("请填入完整信息");
			}
			else if (!(/(^[0-9]*[1-9][0-9]*$)/.test(price))) {
				alert("价格应为正整数");
			}
			else{
				$.ajax({
					type: "POST",
					url:"http://127.0.0.1:8000/ticket/ajax_release/",
					data: form_data,
                	processData: false,  // tell jquery not to process the data
                	contentType: false, // tell jquery not to set contentType
					success: function(result){
						alert("发布成功");
						window.location.href = "http://127.0.0.1:8000/ticket/release/";
					}  
				});
			}
		});

		//退出登录的click函数
		$("#log_out").click(function(){
			$.ajax({
				type: "POST",
				url:"http://127.0.0.1:8000/ticket/ajax_log_out/",
				dataType: "json",
				data:JSON.stringify({}),
				success: function(result){
					alert("你已退出登陆！");
					window.location.href = "http://127.0.0.1:8000/ticket/sign/";
				}  
			});
		});
	</script>
</body>
</html>